body {
  margin: 0;
  font-family: Arial;
  background: linear-gradient(135deg, #4e73df, #1cc88a);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.auth-container {
  background: white;
  padding: 30px;
  border-radius: 10px;
  width: 300px;
  text-align: center;
  box-shadow: 0 10px 25px rgba(0,0,0,0.2);
}

.auth-container input {
  width: 100%;
  padding: 10px;
  margin: 8px 0;
}

.auth-container button {
  width: 100%;
  padding: 10px;
  background: #4e73df;
  color: white;
  border: none;
  cursor: pointer;
}

.dashboard {
  background: white;
  padding: 40px;
  border-radius: 10px;
  text-align: center;
}
